
table thead tr {
    width: 100%;
}

table thead tr .wid-small {
    min-width: 30% !important;
}

table thead tr .wid-smaller {
    min-width: 15% !important;
}

table thead tr .wid-big {
    min-width: 55% !important;
}

#issues tbody tr {
    cursor: pointer;
}